.outer{
    padding-top: 100px;
    margin: 0;
    min-width: 100%;
    min-height: 900px;
    background-color: yellow;
}
.inner {
    background-color: blueviolet;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 16%;
    overflow: hidden;
    padding-left: 0.5vw;
}
.colors{
    border-radius: 10px;
    height: 20vw;
    width: 20vw;
    border: 1px solid black;
    margin: 5vw 1vw;
    transition: 0.1s;
}
.next{
    position: absolute;
    height: 100%;
    width: 10px;
    right: 0;
}
.prev{
    position: absolute;
    height: 100%;
    width: 10px;
    left: 0;
}
